.popup {
  position: absolute;
  padding: 10px;
  border: 1px solid #c5c3de;
  bottom: 10%;
  right: 15%;
  box-shadow: 0px 0px 33px 16px rgba(219, 215, 219, 0.4);
}

.popup-buttons {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.popup-button,
.popup-button__dark {
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.popup-button:hover {
  background: rgb(241, 194, 66);
  background: radial-gradient(
    circle,
    rgba(241, 194, 66, 1) 0%,
    rgba(245, 70, 252, 0.6488970588235294) 100%
  );
  box-shadow: 0px 0px 31px 13px rgba(66, 4, 77, 0.59);
}

.popup-button__dark {
  background-color: #0c0647;
  border: 0.5px solid #c5c3de;
  color: #c5c3de;
}

.popup-button__dark:hover {
  background: #1b0e96;
}
