.header-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.theme-button,
.theme-button__dark {
  cursor: pointer;
  height: 25px;
  width: 100px;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.theme-button:hover {
  background: rgb(241, 194, 66);
  background: radial-gradient(
    circle,
    rgba(241, 194, 66, 1) 0%,
    rgba(245, 70, 252, 0.6488970588235294) 100%
  );
  box-shadow: 0px 0px 31px 13px rgba(66, 4, 77, 0.59);
}

.theme-button__dark {
  background-color: #0c0647;
  border: 0.5px solid #c5c3de;
  color: #c5c3de;
}

.theme-button__dark:hover {
  background: #1b0e96;
}

.heading {
  color: #fff5ee;
  text-align: center;
}

.heading-dark {
  color: #c5c3de;
}
