.card-details {
  width: 500px;
}

.card-details-close {
  cursor: pointer;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
}

.card-details-close__dark {
  background-color: #0c0647;
  border: 0.5px solid #c5c3de;
  color: #c5c3de;
}

.card-details-close__dark:hover {
  background: #1b0e96;
}

.loader {
  margin: auto;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}
